.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: sticky;
  z-index: 5;
  top: 0;

  // Next Image
  span {
    margin-top: 20px;
    cursor: pointer;
    width: 240px !important;

    &:nth-of-type(2) {
      width: fit-content;
    }
  }

  nav {
    flex: 1;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;

      li {
        font-size: 30px;
        font-weight: 600;

        a {
          display: block;
          position: relative;
          padding: 0.2em 0;
          color: #8f57fd;
          transition: color 200ms;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: #6d50a7;
            opacity: 0;
            transform: scale(0);
            transform-origin: center;
            transition: opacity 300ms, transform 300ms;
          }

          &:hover {
            color: #6d50a7;
          }

          &:hover::after,
          &:focus::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }

  /* RESPONSIVE NAVBAR MENU STARTS */
  input[type="checkbox"] {
    display: none;
  }

  .hamburger {
    z-index: 10;
    display: none;
    user-select: none;

    font-size: 40px;
    color: #8f57fd;

    position: absolute;
    right: 5px;
    top: 0;
  }
}

@media (max-width: 540px) {
  .container {
    .hamburger {
      display: block;
    }

    input[type="checkbox"]:checked ~ .hamburger {
      color: #f8f8f2;
    }

    input[type="checkbox"]:checked ~ nav {
      position: absolute;
      top: 0;

      transition: top 200ms;
    }

    nav {
      width: 100%;
      padding: 5px;
      background-color: #6d50a7;

      position: absolute;
      top: -100vh;
      z-index: 6;

      transition: top 200ms;

      ul {
        margin: 5px;
        flex-direction: column;
        align-items: flex-start;

        li {
          font-size: 25px;
          margin-bottom: 10px;

          a {
            color: #f8f8f2;
          }
        }
      }
    }
  }
}
