.container {
  display: flex;
  margin: 50px;

  // Next Image
  span {
    height: 600px !important;
  }

  h1 {
    color: #8f57fd;
    font-size: 120px;
  }

  div {
    width: 55%;
    font-size: 30px;

    span {
      color: #8f57fd;
    }
  }

  a {
    color: #8f57fd;
    text-decoration: underline;
    transition: color 100ms;

    &:hover {
      color: #6d50a7;
    }
  }
}

@media (max-width: 540px) {
  .container {
    flex-direction: column;

    h1 {
      font-size: 45px;
    }

    div {
      width: 100%;
      font-size: 23px;

      .solution {
        margin: 0;
      }
    }
  }
}
