.container {
  display: flex;
  align-items: center;

  .welcome {
    margin: 20px;
    margin-left: 50px;
    font-size: 40px;

    span {
      color: #8f57fd;
    }
  }

  // Next Image
  span {
    width: 1000px !important;
  }
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1900px) {
  .container {
    .welcome {
      margin: 50px;
    }

    span {
      width: 900px !important;
    }
  }
}

@media (max-width: 540px) {
  .container {
    flex-direction: column-reverse;

    .welcome {
      font-size: 30px;
      text-align: justify;

      h1 {
        font-size: 55px;
      }
    }
  }
}
