@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,700&display=swap");

html,
body {
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;

  overflow-x: hidden;
  font-family: "Inria Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8f57fd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f57fd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d50a7;
}
